
/*STYLES GENERAUX*/

*{
    font-family: arial, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
    color: white
}
body{
    background: rgb(64,64,64);
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: url("fond.jpg") no- repeat rgb(64,64,64);
    background-size: 100%;
    box-shadow: 0px 0px 15px grey;
}
header{
    border-bottom: 2px solid rgb(74,172,198);
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header p{
    text-align: center;
}

header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto 30px;
    text-align: center;
}
header a {
    color: white;
}

footer{
    border-top: 2px solid rgb(74,172,198);
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: #fff;
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px grey;
    background-color: rgb(64,64,64);
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid rgb(74,172,198);
    box-shadow: 0px 0px 10px grey;
    border-radius: 50%;
    margin-top: -80px;
    object-fit: cover;
}
.presentation{
    border-bottom: 2px dashed rgb(74,172,198);
    padding-bottom: 20px;
}
.presentation a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: black;
    background-color: rgb(74,172,198);
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
}
/*SECTION EXP ET FORMATION*/

.projet h3{
    padding-bottom: 20px;
}
.projet a {
    color: white;
}
.projet:not(:last-child){
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(74,172,198);
}
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid rgb(74,172,198);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
    margin-right: 30px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
    
}
.exp h3{
    font-size:  1.2em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}
.flex{
    display: flex;
    width: 100%;
}
.flex:not(:last-child){
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(74,172,198);
}

/*SECTION COMPETENCES*/
.h3gauche{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(74,172,198);
}
.hardSkill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hardSkill img{
    width: 50px;
    margin: 10px;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.margin-bottom{
    padding-bottom: 16px;
    padding-top: 5px;
}


/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px grey;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    header{
        height: 150px;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: rgb(74,172,198);
    }
    header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid rgb(74,172,198);
        padding-right: 20px;
        margin-left: auto;
    }

    .prez a{
        border: 2px solid transparent;
    }
    .prez a:hover{
        color: #f28835;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px #666;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
    .hardSkill img{
        width: 60px;
        margin: 20px;
    }
}
